body {
  background-image: url("assets/images/thisthing.png");
  background-color:rgb(204, 204, 204, 0);
  background-size: 1500px 1000px;
}

.container {
  background: rgb(204, 204, 204, 0);
}

.dropdown {
  padding-top: 20px;
}

.jumbotron {
  background: rgb(204, 204, 204, 0);
}

h1 {
  font-size: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 20px;
}

h2 {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#image {
  position: absolute;
  top: 0;
  left: 0;
}

#row1 {
  padding-bottom: 150px;
}
#row2 {
  padding-bottom: 100px;
}